/* * {
  border: 1px solid red;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #e5e5e5;
  font-family: Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #7f7f7f;
}

header,
main,
footer {
  flex-shrink: 0;
}

header {
  text-align: center;
  padding: 3rem;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  border-radius: 50px;
  padding: 1rem;
  background: #e5e5e5;
  color: #7f7f7f;
  box-shadow: 5px 5px 10px #d0d0d0, -5px -5px 10px #fafafa;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

main {
  flex-grow: 1;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  margin-top: auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header,
.calculator__frame,
.footer {
  display: flex;
  flex: 1;
}

.calculator__frame {
  flex-direction: column;
  background-color: #e5e5e5;
  max-height: 467.19px;
  width: 300px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 13px 13px 49px #717171, -13px -13px 49px #8d8d8d;
}

.brand {
  color: #7f7f7f;
  padding-bottom: 0.5rem;
}

.screen {
  background-color: #0f0e12;
  padding: 1rem;
  width: 100%;
  height: 5rem;
  border-radius: 3px;
}

.screen__content {
  text-align: right;
}

/* BUTTONS */
.button__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin: 0.2rem;
  margin-top: 1rem;
}

.grayButton:hover {
  background-color: #b2b2b2;
  color: #e5e5e5;
}
.grayButton:active {
  border-radius: 50%;
  background: #b2b2b2;
  box-shadow: inset 5px 5px 12px #898989, inset -5px -5px 12px #dbdbdb;
}

.numberBtn:active {
  box-shadow: inset 5px 5px 12px #b0b0b0, inset -5px -5px 12px #ffffff;
}

.divi {
  color: #7832b4;
}
.divi:hover {
  background-color: #7832b4;
  color: #e5e5e5;
}
.divi:active {
  box-shadow: inset 5px 5px 12px #5c278b, inset -5px -5px 12px #943edd;
}

.add {
  color: #f05a24;
}
.add:hover {
  background-color: #f05a24;
  color: #e5e5e5;
}
.add:active {
  box-shadow: inset 5px 5px 12px #b9451c, inset -5px -5px 12px #ff6f2c;
}

.subs {
  color: #23aeff;
}
.subs:hover {
  background-color: #23aeff;
  color: #e5e5e5;
}
.subs:active {
  background-color: #23aeff;
  color: #e5e5e5;
  box-shadow: inset 5px 5px 12px #1b86c4, inset -5px -5px 12px #2bd6ff;
}

.mult {
  color: #17b453;
}
.mult:hover {
  background-color: #17b453;
  color: #e5e5e5;
}
.mult:active {
  background-color: #17b453;
  color: #e5e5e5;
  box-shadow: inset 5px 5px 12px #128b40, inset -5px -5px 12px #1cdd66;
}

.equals {
  grid-column: 3 / 5;
  border-radius: 2.5rem;
}
.equals:hover {
  background-color: #ff9637;
  color: #e5e5e5;
}
.equals:active {
  box-shadow: inset 5px 5px 12px #c4742a, inset -5px -5px 12px #ffb944;
}

.footer {
  margin-top: auto;
}
